<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Lausegeneraattori</title>
</head>

<body>

    <h1>Lausegeneraattori</h1>

    <form action="/" method="POST">
    Anna teksti:
    <p>
        <textarea name="teksti" id="comment" rows="30" cols="100">{{ teksti }}</textarea>
    </p>
    Muuta kaikki lauseet virkkeiksi?
    {% if lauseet_virkkeiksi: %}
        <p>
            <input type="radio" name="lauseet_virkkeiksi" value="False"> Ei
            <input type="radio" name="lauseet_virkkeiksi" value="True" checked="checked"> Kyllä
        </p>
    {% else: %}
        <p>
            <input type="radio" name="lauseet_virkkeiksi" value="False" checked="checked"> Ei
            <input type="radio" name="lauseet_virkkeiksi" value="True"> Kyllä
        </p>
    {% endif %}
    Markovin ketjun aste:
    {% if markov==2: %}
        <p>
            <input type="radio" name="markov_aste" value="2" checked="checked"> 2
            <input type="radio" name="markov_aste" value="3"> 3
            <input type="radio" name="markov_aste" value="4"> 4
        </p>
    {% elif markov==3: %}
        <p>
            <input type="radio" name="markov_aste" value="2"> 2
            <input type="radio" name="markov_aste" value="3" checked="checked"> 3
            <input type="radio" name="markov_aste" value="4"> 4
        </p>
    {% elif markov==4: %}
        <p>
            <input type="radio" name="markov_aste" value="2"> 2
            <input type="radio" name="markov_aste" value="3"> 3
            <input type="radio" name="markov_aste" value="4" checked="checked"> 4
        </p>
    {% endif %}
    Lauseen maksimipituus:
    <select name="pituus">
        {% for i in range(6, 21) %}
            {% if i == maksimipituus: %}
                <option value="{{ i }}" selected>{{ i }}</option>
            {% else: %}
                <option value="{{ i }}" >{{ i }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <p>
        <input type="submit" value="Generoi lause">
    </p>
    
    </form>

    {{ lause }}

</body>